body {
  background-image: url('../images/random_grey_variations.png');
}
#container {
  margin: 25px;
}
.topic {
  margin: 10px;
  border-radius: 25px;
  background-color: white;
}
.jumbotron {
  margin-top: 25px;
  text-align: center;
  background-color: #AFEEEE !important;
}

label {
  color: #AFEEEE;
}
.topic {
  background-color: #AFEEEE;
}
#add-topic {
  background-color: #AFEEEE;
}
#topic-input {
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  color: #AFEEEE;
}
#topicData {
  float: left;
  margin: 15px;
}